*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family:roboto ;
}
@font-face {
    font-family:roboto ;
    src: url(../Roboto/Roboto-Black.ttf);
}
.nav-bar{
    width: 100%;
    height: 40px;
    background-color: 
    #ADC9A6;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 0px;
    
}
nav{
    width: 100%;
    height: 90px;
    background-color: 
    #153C3C;
    position: fixed;
    top: 40px;
  
  
}
.nav-logo{
    display: flex;
    padding: 34px 104px;
    justify-content: space-between;
}
.nav-logo-img-link{
    display: flex;
    align-items: center;
   
    gap: 100px;
 
}
.nav-link{
    display: flex;
    gap: 20px;
  
}
.nav-link ul{
    display: flex;
    gap: 30px;
   
}
.nav-link ul a {
    color: 
    #DDE4E4;
    font-size: 15px;
}
nav .nav-button button{
    width: 100px;
    height: 40px;
    background-color: 
    #84A17D;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
nav ul a:hover{
    color: white;
    background-color: rgb(187, 220, 20);
    padding: 5px 10px;
    border-radius: 5px;

}nav ul a {
    text-decoration: none;
    transition: all 0.3s linear;
}
.control{
    width: 1280px;
    height: 970px;
    /* border: 2px solid; */
    margin: 200px 80px;
}
.aligin-webflow-text{
    width: 100%;
    height: 50%;
    /* border: 2px solid; */
    text-align: center;
}
h1{
  
    font-size: 52px;
    text-align: center;
    justify-content: center;
    font-family:roboto ;
}   
#h1{
    padding: 10px 0px;
    font-family:roboto ;
}
h4{
   
    font-size: 18px;
    color: 
    #153C3C;
    background-color: 
    #F3F7F2;
}
.aligin-webflow-img{
    width: 100%;
    height: 50%;
    /* border: 2px solid; */
    /* padding: 60px 0px; */
}
.londing-pages{
    width: 1260px;
    height: 1817px;
    /* border: 2px solid; */
    margin: 160px 150px;
    /* display: flex; */
}
.londing-text{
  width: 100%;
  height: 25%;
  /* border: 2px solid; */
  text-align: center;
  justify-content: center;
  padding: 30px 320px;
  
}
.text{
    width: 620px;
    height: 456px;
    font-size: 46px;
    /* border: 2px solid; */
    display: flex;
   

}
h2{
    width: 900px;
    height: 60px
}
.img{
    width: 1260px;
    height: 1365px;
    /* border: 2px solid; */
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 40px;
}
.londing-one{
    width: 510px;   
    height: 613px;
    /* border: 2px solid; */
    background-color: 

    #F2F8F8;
}
.londing-two{
    width: 510px;   
    height: 613px;
    /* border: 2px solid; */
    background-color: 
    #F2F8F8;
}
.londing-three{
    width: 510px;   
    height: 613px;
    /* border: 2px solid; */
    background-color: 
    #F2F8F8;
}
h3{
    padding: 20px 60px;
    font-family:roboto ;
    
}
#imgs{
    padding: 10px 60px;
}
